html{
  background-color: #121212;
  color: white;
  overflow: hidden;
}
.MoveButtons{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-column-gap: 30px;
  padding-bottom: 20px;
}
.winScreen{
  background-color: #121212;
  height: 210px;
  width: 300px;
  position: absolute;
  top: 58.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.winScreen h1{
  align-items: center;
  margin: 0;
  margin-top: 65px;
}
.winScreen button{
  height: 30px;
  width: 100px;
  margin: 10px;
}
.winScreen button, .MoveButtons button{
  border: 2px solid white;
  color:white;
  background: transparent;
  transition: all .4s ease-in-out;
}
.winScreen button:hover, .MoveButtons button:hover{
  color:black;
  background: white;
  transition: all .4s ease-in-out;
}
.winScreen button:focus, .MoveButtons button:focus{
  outline: none;
}
.MoveButtons button{
  height: 50px;
  width: 150px;
  
}
.game{
  height: 100vh;
  width: 100vw;
  overflow:auto;
}
.square{
  height: 200px;
  width: 200px;
  color: white;
}
.square .textDiv{
  display: grid;
  align-items: center;
  height: 10px;
  margin:0;
  text-align: center;
  font-size: 100px;
}
.square .textDiv p{
  margin:0;
  text-align: center;
  font-size: 130px;
  font-weight: 500;
}
.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
}
.grid{
  display:grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
}
